<div class="footerbody">
    <div>

        <div style="font-family: 'Chakra Petch', sans-serif;" class="text-center word22 pt-3"><h4>Connect Us</h4></div>
        <div class="social">
            <ul class="no-list">
                <a href="https://www.facebook.com/" target="_blank">
                    <li class="facebook"><i class="fab fa-facebook-f"></i></li>
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <li class="twitter"><i class="fab fa-twitter"></i></li>
                </a>
                <a href="https://web.whatsapp.com/" target="_blank">
                    <li class="whatsapp"><i class="fab fa-whatsapp"></i></li>
                </a>
                <a  href="https://mail.google.com/" target="_blank">
                    <li class="gmail"><i class="fab fa-google"></i></li>
                </a>
                <a  href="https://www.instagram.com/" target="_blank">
                    <li class="instagram"><i class="fab fa-instagram"></i></li>
                </a>
                <a href="https://www.youtube.com/" target="_blank">
                    <li class="youtube"><i class="fab fa-youtube"></i></li>
                </a>
              </ul>
        </div>


       

        <div style="font-family: 'Bai Jamjuree', sans-serif;" class="text-white text-center mt-4">
            <div style="font-size: 15px; font-family: 'Chakra Petch', sans-serif;">Copyright © 2022 <a style="text-decoration:none ; cursor: pointer;">LibraryApp</a></div>
            <div class="span2 mb-2">
                Created by Arya R Nair<i class="fa fa-heart pulse"></i>
            </div>
         </div>    
    </div>
</div>
